.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    .university-logo {
      width: 50px; // Set appropriate size for the logo
      margin-right: 10px;
    }
  }
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #4a6fa5;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
